.box .table tr.success>td {
  background-color: #5cb85c!important;
  border-color: #4cae4c!important;
  color: #fff;
}

.box .table tr.danger>td {
  background-color: #d9534f!important;
  border-color: #d43f3a!important;
  color: #fff;
}
