body {
  background: #383e4b;
  color: #383e4b;
  border: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  padding-top: 39px;
}
h1 {
  font-size: 32px;
  line-height: 32px;
  font-weight: 300;
}
h2 {
  font-size: 16px;
  line-height: 16px;
  font-weight: 300;
}
h3 {
  font-size: 15px;
  line-height: 15px;
  font-weight: 300;
}
h4 {
  font-size: 14px;
  line-height: 14px;
  font-weight: 300;
}
.container.container-full {
  min-width: 100%;
}
.navbar {
  background-color: #36a9e1 !important;
  border: 0;
  min-height: 40px;
  color: #fff;
}
.navbar .navbar-header {
  padding: 9px 0 10px 0;
}
.navbar #site-logo {
  background-color: #1e8fc6;
  text-align: center;
  font-weight: bold;
}
.navbar .row div {
  min-height: 40px;
  padding: 9px 0 1px 0;
}
.navbar #sitebar {
  text-align: right;
  padding-right: 10px;
}
.navbar #sitebar .refresh {
  padding-right: 20px;
}
.navbar #sitebar .refresh a {
  color: #fff;
  padding-left: 5px;
}
.navbar .avatar {
  max-height: 24px;
  margin-right: 5px;
}
#sidebar {
  padding-top: 30px;
  padding-right: 0px;
  padding-left: 0px;
}
#sidebar ul {
  padding-left: 0px;
}
#sidebar ul li {
  list-style: none;
  display: block;
}
#sidebar ul li .tooltip.right {
  width: 100px;
}
@media (min-width: 992px) {
  #sidebar ul li .hidden-sm {
    display: inline-block !important;
  }
}
@media (max-width: 765px) {
  #sidebar ul li .hidden-sm {
    display: inline-block !important;
  }
}
#sidebar ul li i {
  margin-right: 15px;
  width: 20px;
  display: inline-block;
}
#sidebar ul li a {
  display: block;
  padding: 10px 15px;
  padding-right: 5px;
  color: #fff;
  font-weight: 300;
}
#sidebar ul li a.coming-soon {
  color: #979797;
}
#sidebar ul li a:hover {
  background-color: #2d323d;
  text-decoration: none;
}
#content {
  background-color: #f5f5f5;
  padding: 30px;
  min-height: 400px;
  position: relative;
}
#footer {
  color: #fff;
  text-align: right;
  padding: 10px;
}
.box {
  margin: 0 0 30px 0;
  -webkit-box-shadow: 0 1px 0 1px #ee4e6e b;
  -moz-box-shadow: 0 1px 0 1px #ee4e6e b;
  box-shadow: 0 1px 0 1px #ee4e6e b;
  border-radius: 2px;
}
.box .box-header {
  background-color: #36a9e1;
  color: #fff;
  height: 36px;
  overflow: hidden;
  z-index: 10;
}
.box .box-header a {
  color: #fff;
}
.box .box-header h2 {
  color: #fff;
  padding: 10px 0;
  font-size: 16px;
  margin: 0 0 0 20px;
  float: left;
}
.box .box-header h2 i {
  background-color: #1e8fc6;
  display: inline-block;
  width: 36px;
  height: 36px;
  margin: -10px 20px -10px -20px;
  padding: 10px 0;
  text-align: center;
}
.box .box-content {
  padding: 10px;
  background: #fff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#countdown > span > span {
  text-align: center;
  font-size: 1.5em;
  display: block;
  width: 25%;
  float: left;
}
#countdown > span > span > span {
  font-size: 1.5em;
}
/* START: map.less */
#map-container {
  overflow-y: hidden;
  overflow-x: hidden;
  height: 650px;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 100px;
  padding-bottom: 50px;
}
#map-container #map {
  position: relative;
  width: 1500px;
}
#legend {
  margin-bottom: 30px;
}
#legend > div {
  padding-right: 5px;
  position: relative;
  margin-top: 10px;
  text-align: center;
}
#legend .seat_container {
  position: static;
  height: 52px;
  width: 52px;
  display: inline-block;
}
#legend span {
  padding-left: 10px;
  font-size: 1.5em;
  position: absolute;
  top: 12px;
  display: inline-block;
}
.seat_container {
  position: absolute;
  padding: 2px;
}
.seat_container .popover {
  min-width: 200px;
  width: auto;
  z-index: 99;
}
.seat_container .popover .popover-content {
  padding: 10px;
  width: auto;
}
.seat_container .popover .popover-content img {
  max-width: 64px;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.seat_container .seat {
  border-radius: 3px;
  border: 2px solid #434343;
  width: 100%;
  height: 100%;
  color: #494949;
  text-align: center;
  background-color: #d5d5d5;
  position: relative;
  /*&[data-type="volunteer"] {
			background-color: #ffca92;
			border-color: #ff8400;
		}*/

}
.seat_container .seat i {
  display: none;
  z-index: 99;
  font-size: 24px;
}
.seat_container .seat > img {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  min-width: 100%;
  max-width: 100%;
  z-index: 95;
  opacity: 0.8;
}
.seat_container .seat:hover > img {
  opacity: 0.3;
}
.seat_container .seat:hover i {
  opacity: 0.8;
  position: absolute;
  display: block;
  text-align: center;
  top: 20%;
  left: 0px;
  width: 100%;
  height: 100%;
  text-indent: 0px;
}
.seat_container .seat.occupied {
  border-color: #00CCFF;
  background-color: #97EAFF;
}
.seat_container .seat.ingame {
  border-color: #6acc0a;
  background-color: #c8ff93;
}
.seat_container .seat:hover {
  box-shadow: 0px 0px 3px #555;
  text-indent: 9999px;
}
.seat_container .seat[data-type="volunteer"] {
  background-color: #ffca92;
  border-color: #ff8400;
}
.seat_container .seat[data-type="staff"] {
  background-color: #b976fe;
  border-color: #8231d4;
}
.room {
  position: absolute;
  border: 5px solid #444444;
  padding: 5px;
  background-color: #eeeeee;
}
.room .block {
  position: absolute;
  border: 2px solid #e2e2e2;
  padding: 0px;
  box-sizing: content-box;
  border-radius: 3px;
  text-align: center;
  display: table;
  /* Customs */

}
.room .block .block-text {
  color: #494949;
  display: table-cell;
  vertical-align: center;
}
.room .block#block17 .block-text {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}
/* END: map.less *//* START: servers.less */
#servers .server .box-content {
  padding: 0px;
}
#servers .server .box-content img {
  max-width: 100%;
  min-width: 100%;
}
/* END: servers.less */#schedule .day .box-content {
  padding: 0px!important;
}
#schedule #multiday .event {
  margin-top: 5px;
  margin-bottom: 5px;
}
#schedule .time-row {
  height: 50px;
  border-bottom: 1px solid #ddd;
  padding-left: 30px;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
  overflow-y: visible;
  position: relative;
}
#schedule .time-row:last-child {
  border-bottom: none;
}
#schedule .time-row .time {
  background: #36a9e1;
  color: #fff;
  font-weight: bold;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 3px;
  margin-left: -55px;
  margin-top: 0px;
  display: block;
  width: auto;
  float: left;
}
#schedule .day .event {
  position: absolute;
  left: 30px;
  right: 20px;
}
#schedule .event {
  padding: 5px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border-width: 1px;
  border-style: solid;
  z-index: 99;
}
#schedule .event.orange {
  border-color: #F88B73;
  background: #FFCB94;
}
#schedule .event.yellow {
  background: #FFFEB0;
  border-color: #D5D24E;
}
#schedule .event.green {
  border-color: #649c21;
  background: #bdea74;
}
#schedule .event.pink {
  background: #FFD3E5;
  border-color: #EB81AB;
}
#schedule .event.gold {
  background: #FFD581;
  border-color: #ECAF34;
}
#events_list {
  display: none;
}
